head
style 
        include script.css
body
<h1>Voici le contenu du fichier</h1>
        <table>
        <th class='entete'>Identifiant</th>
        <th class='entete'>Ville</th>
        <tr id='ligne1'>
        <td>#{User1}</td>
        <td>#{Ville1}</td>
        </tr>
        <tr id='ligne2'>
        <td>#{User2}</td>
        <td>#{Ville2}</td>
        </tr>
        </table>