head
body
<h1>Ajouter une ville</h1>
<form name="ajouter-ville" action="city" method="post">
<pre>Veuillez saisir le nom de la ville :<br />
<input type="text" name="ville" value="" /></pre>
<input type="submit" value="Creer ville" />
</form>