head
style 
        include error500.css
body
<div class="noise"></div>
<div class="overlay"></div>
<div class="terminal">
  <h1>Error <span class="errorcode">500</span></h1>
  <p class="output">Request file does not exist on the server</p>
  <p class="output">Please find another way.</p>
  <p class="output">Good luck.</p>
</div>